.background {
  background-image: url("vagues.png");
  background-size: cover;
}

.card-connexion {
  background-color: rgba(255, 255, 255, 0.137);
  width: 900px;
  height: 450px;
  text-align: center;
}

.border-none {
  border: none;
}

.card-white {
  background-color: white;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
  color: black;

  .avatar-div {
    display: none;
  }
}

.card-avatar {
  width: 35%;
}

.form-check {
  text-align: start;
}

// Format mobile
@media (max-width: 650px) {
  .card-connexion {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
  }

  .card-avatar {
    width: 100%;
    height: 15%;

    img {
      display: none;
    }
  }


  .card-white {
    height: 85%;
    width: 100%;
    padding: 0px 20px;
    position: relative;

    .avatar-div {
      display: inline;
      width: 100%;
      position: absolute;
      top: -75px;
      padding-right: 40px;
    }
  }
}
