<h3 class="mb-3 bold color-blue">AUTO-ENTREPRENEUSE</h3>
<h5 class="mb-3 color-bluegreen">Septembre 2021 - Août 2023</h5>
  <ul class="list">
    <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Montage et gestion globale d’un projet e-commerce.</li>
    <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Développement d’un site e-commerce sous Wordpress.</li>
    <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Développement de partenaires et de fournisseurs.</li>
    <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Communication web et ADS.</li>
    <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Suivi et gestion des commandes, paiements et livraisons.</li>
    <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Administratif et comptabilité.</li>
  </ul>
