body {
  // background-color: #071C42;
  background: radial-gradient(circle, rgba(7,28,66,1) 14%, rgb(7, 35, 85) 51%, rgba(7,28,66,1) 90%);
  color: $white;

  p {
    font-size: 18px;
  }
}

.flex-column {
  flex-direction: column;
}

.bold {
  font-weight: 700;
}

.hover:hover {
  background-color: $bleuvertfonce;
  transition: 0.4s;
}

.container-section {
  width: 1200px;
  margin: auto;
}

.background-white {
  background-color: $white;
}

.color-black {
  color: black;
}

.color-blue {
  color: $bleumarine;
}

.color-bluegreen {
  color: $bleuvert;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}
