
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
  }
}

body {
  background: radial-gradient(circle, rgba(7,28,66,1) 14%, rgb(7, 35, 85) 51%, rgba(7,28,66,1) 90%);
  color: $white;

  p {
    font-size: calc(13px + 0.3vw);
  }
}




.flex-column {
  flex-direction: column;
}

.bold {
  font-weight: 700;
}

.hover:hover {
  background-color: $bleuvertfonce;
  transition: 0.4s;
}

.background-white {
  background-color: $white;
}

.color-black {
  color: black;
}

.color-blue {
  color: $bleumarine;
}

.color-bluegreen {
  color: $bleuvert;
}


h2 {
  // font-size: 35px;
  font-size: calc(31px + 0.3vw);
  font-weight: 700;
}

h3 {
  // font-size: 24px;
  font-size: calc(20px + 0.3vw);
}

h4 {
  // font-size: 20px;
  font-size: calc(16px + 0.3vw);
}

h5 {
  // font-size: 18px;
  font-size: calc(14px + 0.3vw);
}


.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-item-end{
  align-items: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}


.link {
  color: $bleuvert;

    &:hover {
      color: $bleumarine;
      transition: 0.7s;
    }
}

.margin-neg {
  margin-bottom: -20px;
}

.padding-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.padding-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}


@media (max-width: 650px) {
  .padding-70, .padding-90 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }
}


.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gap-50 {
  gap: 50px;
}

@media (max-width: 903px) {
  .grid-card {
    grid-template-columns: 1fr 1fr;
  }
}

.text-center {
  text-align: center;
}
