<div class="background-white">

  <div class="container-section padding-70">
    <div class="color-black">

      <div class="mb-5 pos-relative">
        <h2 class="mb-5 pos-relative z-index-2">À propos</h2>
        <div class="barre-title z-index-1 size-barre-22-120 position-barre-titre-20-50"></div>
      </div>

      <div class="flex-gap-40">
        <div id="profil">
          <p class="text-justify mt-3">
            Après avoir réalisé plusieurs sites sous Wordpress,
            je me suis découvert une véritable passion pour la création de projets web !
            En octobre 2023, j’ai donc décidé de sauter le pas et de suivre une formation intensive à
            l’école Le Wagon pour me former au développement web.
          </p>
          <p class="text-justify mt-3">
            En quête de nouveaux défis perpétuels, le développement web s’est révélé être bien plus qu'une simple reconversion,
            c'est devenu ma passion. Trouver des solutions, résoudre des problèmes, débuguer, tout ça me procure une satisfaction folle.
          </p>
        </div>
        <div>
          <p class="text-justify mt-3">
            Actuellement en recherche active d'un emploi en CDI, je m’investis toujours à 100% dans mes projets pour atteindre mes objectifs.
            De nature déterminée, rigoureuse et autonome, je suis toujours prête à sortir de ma zone de confort pour acquérir de nouvelles connaissances.
          </p>
          <p class="text-justify mt-3">
            En équipe, j’aime travailler sérieusement, mais je pense qu'il est important de garder une ambiance positive,
            car je suis convaincue que l'enthousiasme, la joie, la bonne humeur et la bienveillance sont essentiels
            pour une collaboration efficace au sein d'une équipe.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="barre width-350"></div>

</div>

<div class="grid-card grid-temp-4fr">
  <div class="card-one card">
    <p class="font-size-30">&#127757;</p>
    <h3>Voyages</h3>
    <p>Des rencontres insolites, de nouvelles cultures, de nouveaux horizons, le voyage simplement.</p>
  </div>

  <div class="card-two card">
    <p class="font-size-30">🪐</p>
    <h3>Astronomie</h3>
    <p>Les yeux dans l'occulaire, j'aime explorer l'espace et m'émerveiller face à ses mystères.</p>
  </div>

  <div class="card-three card">
    <p class="font-size-30">&#9978;</p>
    <h3>Randonnées</h3>
    <p>Le temps d'un week-end, j'aime m'évader en montagne pour bivouaquer et m'imprégner de la nature</p>
  </div>

  <div class="card-four card">
    <p class="font-size-30">&#127947;</p>
    <h3>Sport</h3>
    <p>Pour canaliser mon énergie, je me dépense à la salle de sport 3 fois par semaine.</p>
  </div>
</div>
