<div class="background-white">


  <div class="container-section padding-70">
    <div class="color-black">
      <h2 class="mb-5">À propos</h2>
      <div class="flex-gap-5">
        <div id="profil">
          <p class="text-justify mt-3">
            Après avoir réalisé plusieurs sites sous Wordpress,
            je me suis découvert une véritable passion pour la création de projets web !
            En octobre 2023, j’ai donc décidé de sauter le pas et de suivre une formation intensive à
            l’école Le Wagon pour me former au développement web.
          </p>
          <p class="text-justify mt-3">
            En quête de nouveaux défis perpétuels, le développement web s’est révélé être bien plus qu'une simple reconversion,
            c'est devenu ma passion. Trouver des solutions, résoudre des problèmes, débuguer, tout ça me procure une satisfaction folle.
          </p>
        </div>
        <div>
          <p class="text-justify mt-3">
            Actuellement en recherche active d'un emploi en CDI, je m’investis toujours à 100% dans mes projets pour atteindre mes objectifs.
            De nature déterminée, rigoureuse et autonome, je suis toujours prête à sortir de ma zone de confort pour acquérir de nouvelles connaissances.
          </p>
          <p class="text-justify mt-3">
            En équipe, j’aime travailler sérieusement, mais je pense qu'il est important de garder une ambiance positive,
            car je suis convaincue que l'enthousiasme, la joie, la bonne humeur et la bienveillance sont essentiels
            pour une collaboration efficace au sein d'une équipe.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="barre width-350"></div>

</div>

<div class="grid-card">
  <div class="card-one card">
    <i class="fa-solid fa-earth-americas" style="color: #ffffff;"></i>
    <h3>Voyages</h3>
    <p>J’aime parcourir le monde et découvrir de nouveaux paysages et de nouvelles cuisines.</p>
  </div>

  <div class="card-two card">
    <i class="fa-solid fa-meteor" style="color: #ffffff;"></i>
    <h3>Astronomie</h3>
    <p>J’aime passer des soirées d’astronomie accompagnée de mon télescope et observer le ciel.</p>
  </div>

  <div class="card-three card">
    <i class="fa-solid fa-person-hiking" style="color: #ffffff;"></i>
    <h3>Randonnées</h3>
    <p>J’aime partir des week-ends en montagne, pour randonner, bivouaquer et profiter de la nature.</p>
  </div>

  <div class="card-four card">
    <i class="fa-solid fa-dumbbell" style="color: #ffffff;"></i>
    <h3>Musculation</h3>
    <p>J’aime passer du temps à la salle de sport 3 fois par semaine pour me dépenser.</p>
  </div>
</div>
