<%= render "partials/navbar" %>

<div class="background-image">

  <div class="d-flex justify-content-end">
    <div class="barre width-950 reveal transformX-r"></div>
  </div>

  <div class="container-section height-80vh d-flex flex-column justify-content-center">
    <h1 class="font-size-20px mb-2 reveal transformY">Hello world ! Je m'apelle</h1>
    <h2 class="font-size-70px mb-3 reveal-2 transformY">Caroline Nguyen</h2>
    <h3 class="font-size-35px bold mb-5 reveal-3 transformY"><span class="color-green"><</span> Développeuse fullstack <span class="color-green">/></span></h3>
    <div>
      <%= link_to "Qui suis-je ?", {anchor: "profil"}, class: "button hover reveal-4" %>
    </div>
  </div>
  <div class="barre width-350"></div>

</div>
