<div class="background-image">
  <%= render "layouts/navbar" %>
  <div class="container-banner height-80vh d-flex flex-column justify-content-center">
    <h1 class="font-size-2em">Hello world ! Je m'apelle</h1>
    <h2 class="font-size-4-5em">Caroline Nguyen</h2>
    <h3 class="font-size-2em bold mb-5"><span class="color-green"><</span> Développeuse fullstack <span class="color-green">/></span></h3>
    <div>
      <%= link_to "Qui suis-je ?", {anchor: "profil"}, class: "button hover" %>
    </div>
  </div>
  <div class="barre width-350"></div>
</div>
