<div class="container-section padding-70">

  <div class="display-flex justify-content-center transformY reveal">
    <div class="mb-5 pos-relative">
      <h2 class="pos-relative z-index-2">Prenons contact ?</h2>
      <div class="barre-title z-index-1 size-barre position-barre-titre width-c left-c"></div>
    </div>
  </div>

  <div class="display-flex align-item-center mt-3 flex-column transformY reveal-2">
    <div>
      <%= link_to "https://github.com/carolinhng", target: "_blank" do %>
        <i class="fa-brands fa-github icone-style"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/caroline-nguyen-8a64aa158/", target: "_blank" do %>
        <i class="fa-brands fa-linkedin-in icone-style"></i>
      <% end %>
    </div>
    <%= mail_to "caroline.ng.pro@hotmail.com", class: "mail-to-style mt-3" %>
  </div>
    <p class="text-center mt-5 font-size-12 transformY reveal-3">© Copyright 2024 - Caroline NGUYEN.<br>Tous droits réservés.</p>


</div>
<div class="barre width-100"></div>
