<div class="container-section padding-70">

  <div class="display-flex justify-content-center transformY reveal">
    <div class="mb-5 pos-relative">
      <h2 class="pos-relative z-index-2">On prends contact ?</h2>
      <div class="barre-title z-index-1 size-barre position-barre-titre width-c left-c"></div>

    </div>
  </div>

  <div class="display-flex align-item-center mt-3 flex-column transformY reveal-2" id="contact">
    <%= mail_to "caroline.ng.pro@hotmail.com", class: "button hover mt-3 mb-5" %>
    <div class="mt-3">
      <%= link_to "https://github.com/carolinhng", target: "_blank" do %>
        <i class="fa-brands fa-github icone-style"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/caroline-nguyen-8a64aa158/", target: "_blank" do %>
        <i class="fa-brands fa-linkedin-in icone-style"></i>
      <% end %>
    </div>
  </div>
    <p class="text-center mt-5 font-size-12 transformY reveal-3">Site réalisé avec 	&#x1F499; par Caroline Nguyen<br>Tous droits réservés.</p>


</div>
<div class="barre width-100"></div>
