<div class="background-white">

  <div class="container-section padding-70 color-black">

    <h2 class="mb-5">Mes expériences</h2>


    <div class="dis-flex" id="experiences" data-controller="expechange">


      <div class="border-left">

        <div class="click-on"
             data-action="click->expechange#classChange"
             data-expechange-target="elements">
          <h4>INDEPENDANTE</h4>
        </div>

        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="elements">
          <h4>INTERIM</h4>
        </div>

        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="elements">
          <h4>E. LECLERC</h4>
        </div>

        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="elements">
          <h4>QUINTESSENCE</h4>
        </div>

        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="elements">
          <h4>ECP - ABORAL</h4>
        </div>

      </div>


      <div data-expechange-target="resume">
        <%= render "partials/independante" %>
      </div>


    </div>

  </div>

</div>
