<div class="background-white">
  <div class="container-section padding-70 color-black">

    <h2 class="mb-5">Mes expériences</h2>
    <div class="dis-flex" id="experiences" data-controller="expechange">
      <div class="border-left">

        <div class="click-on"
             data-action="click->expechange#classChange"
             data-expechange-target="company">
          <h4>INDEPENDANTE</h4>
        </div>
        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="company">
          <h4>ALDI</h4>
        </div>
        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="company">
          <h4>DU JARDIN</h4>
        </div>
        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="company">
          <h4>E. LECLERC</h4>
        </div>
        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="company">
          <h4>QUINTESSENCE</h4>
        </div>
        <div class="click-off"
             data-action="click->expechange#classChange"
             data-expechange-target="company">
          <h4>ECP - ABORAL</h4>
        </div>

      </div>


      <div data-expechange-target="resumeOne">
        <h3 class="mb-3 bold color-blue">AUTO-ENTREPRENEUSE</h3>
          <h5 class="mb-3 color-bluegreen">Septembre 2021 - Août 2023</h5>
            <ul class="list">
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Montage et gestion globale d’un projet e-commerce.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Développement d’un site e-commerce sous Wordpress.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Développement de partenaires et de fournisseurs.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Communication web et ADS.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Suivi et gestion des commandes, paiements et livraisons.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Administratif et comptabilité.</li>
            </ul>
      </div>

      <div class="d-none" data-expechange-target="resumeTwo">
        <h3 class="mb-3 bold color-blue">AGENTE ADMINISTRATIVE</h3>
          <h5 class="mb-3 color-bluegreen">Mai 2023 - Septembre 2023</h5>
            <ul class="list">
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Saisies informatiques des sorties et des entrées de marchandises.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Prise des commandes produits frais vers l'entrepôt et les magasins.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Saisies informatiques des commandes HUB.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Gestion des balisages magasin.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Saisies informatiques des contrats fournisseurs.</li>
            </ul>
      </div>

      <div class="d-none" data-expechange-target="resumeThree">
        <h3 class="mb-3 bold color-blue">PREPARATRICE DE COMMANDES</h3>
          <h5 class="mb-3 color-bluegreen">Novembre 2022 - Février 2023</h5>
            <ul class="list">
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Prélèvements des cartons.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Chargement des cartons sur palette.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Acheminement des palettes en zone d'expédition et de stockage.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Remplissage des supports de suivi de commande.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Inventaire.</li>
            </ul>
      </div>

      <div class="d-none" data-expechange-target="resumeFour">
        <h3 class="mb-3 bold color-blue">CHARGEE DE COMMUNICATION & WEBMARKETING</h3>
          <h5 class="mb-3 color-bluegreen">Septembre 2019 - Juillet 2021</h5>
            <ul class="list">
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Community Management.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Analyse et reporting des KPIs.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Création et diffusion de contenus web.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Création et montage vidéo au drône.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Veilles concurrentielles et technologiques.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Optimisation du référencement local via Google My Business.</li>
            </ul>
      </div>

      <div class="d-none" data-expechange-target="resumeFive">
        <h3 class="mb-3 bold color-blue">COMMERCIALE ET CHARGEE DE COMMUNICATION</h3>
          <h5 class="mb-3 color-bluegreen">Octobre 2017 - Juillet 2019</h5>
            <ul class="list">
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Développement d'une nouvelle activité destinée à une clientèle B to B.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Réalisation d'une étude de marché et d'une veille concurrentielle.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Création d'un site internet vitrine sous Wordpress. </li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Création de contenus web et print.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Community management.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Prospection téléphonique.</li>
            </ul>
      </div>

      <div class="d-none" data-expechange-target="resumeSix">
        <h3 class="mb-3 bold color-blue">ASSISTANTE COMMERCIALE</h3>
          <h5 class="mb-3 color-bluegreen">Octobre 2016 -Avril 2017</h5>
            <ul class="list">
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Accueil clientèle et visite de l'usine.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Reccueil des besoins.</li>
              <li class="mb-2"><i class="fa-solid fa-angles-right" style="color: #67decc;"></i> Suivi des commandes et des réclamations client.</li>
            </ul>
      </div>

    </div>

  </div>
</div>
