<div class="background-white">

  <div class="container-section padding-70 color-black">

    <h2 class="bold mb-5">Mes expériences</h2>

    <div class="d-flex">

      <div class="border-left">

        <div class="click-on">
          <h4>INDEPENDANTE</h4>
        </div>

        <div class="click-off">
          <h4>INTERIM</h4>
        </div>

        <div class="click-off">
          <h4>E. LECLERC</h4>
        </div>

        <div class="click-off">
          <h4>QUINTESSENCE</h4>
        </div>

        <div class="click-off">
          <h4>ECP - ABORAL</h4>
        </div>

      </div>


      <div>

        <h3>Auto-entrepreneuse</h3>
        <h5>Septembre 2021 - Août 2023</h5>
          <ul>
            <li>
              <p>Montage et gestion globale d’un projet e-commerce.</p>
            </li>


          </ul>





      </div>


    </div>

  </div>

</div>
