// Barre-titre - barres.scss
.flex-gap-40 {
  display: flex;
  gap: 40px;
}

.size-barre {
  height: 22px;
  width: 120px;
}

.position-barre-titre {
  top: 20px;
  left: 50px;
}


@media (max-width: 935px) {
  .position-barre-titre {
    top: 15px;
    left: 83px;
  }

  .size-barre  {
    width: 183px;
    height: 20px;
  }
}


@media (max-width: 650px) {
  .flex-gap-40 {
    display: block;
  }

  .position-barre-titre {
    left: 35px;
  }

  .size-barre  {
    width: 90px;
    height: 15px;
  }
}

// cards hobbies

.card-one, .card-three {
  background: radial-gradient(circle, rgba(7,28,66,1) 14%, rgb(7, 32, 76) 51%, rgba(7,28,66,1) 90%);
}

.card-two, .card-four {
  background-color: $bleuvert;
}

.card {
  text-align: center;
  padding: 40px;
  color: white;
}

.font-size-30 {
  font-size: 30px;
}

// Format mobile
@media (max-width: 903px) {
  .grid-card {
    grid-template-columns: 1fr 1fr;
  }

  .card-one, .card-four {
    background: radial-gradient(circle, rgba(7,28,66,1) 14%, rgb(7, 32, 76) 51%, rgba(7,28,66,1) 90%);
  }

  .card-two, .card-three {
    background: $bleuvert;
  }

  .card {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

@media (max-width: 500px) {
  .grid-card {
    display: block;
  }

  .card-one, .card-three {
    background: radial-gradient(circle, rgba(7,28,66,1) 14%, rgb(7, 32, 76) 51%, rgba(7,28,66,1) 90%);
  }

  .card-two, .card-four {
    background: $bleuvert;
  }

  .card {
    padding-top: 30px;
    padding-bottom: 30px;
  }

}
