.padding-70 {
  padding: 70px 0px;
}

.text-justify {
  text-align: justify;
}

.background-darkblue {
  background: radial-gradient(circle, rgba(7,28,66,1) 14%, rgb(7, 32, 76) 51%, rgba(7,28,66,1) 90%);
}

.background-bluegreen {
  background-color: $bleuvert;
}

.card {
  text-align: center;
  padding: 40px;
  color: white;
  i {
    font-size: 40px;
    padding-bottom: 15px;
  }
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
