.container-banner {
  width: 1000px;
  margin: auto;
}

.height-70vh {
  height: 70vh;
}

.font-size-2em {
  font-size: 2em;
}

.font-size-4-5em {
  font-size: 4.5em;
}

.color-green {
  color: $bleuvert;
}
