.grip-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.icone-style {
  font-size: 50px;
  margin: 0px 10px;
  color: white;

  &:hover {
    color: $bleuvert;
    transition: 0.4s;
  }
}

.font-size-12 {
  font-size: 12px;
}

.mail-to-style {
  color: white;

  &:hover {
    color: $bleuvert;
    transition: 0.4s;
  }
}

// barre titre - barres.scss

.size-barre-22-255 {
  height: 22px;
  width: 255px;
}

.position-barre-titre-20-465 {
  top: 20px;
  left: 465px;
}

@media (max-width: 650px) {

  .position-barre-titre-20-465 {
    top: 15px;
    left: 210px;
  }

  .size-barre-22-255  {
    width: 190px;
    height: 15px;
  }

  .icone-style {
    font-size: 35px;
  }

}
