.grip-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.icone-style {
  font-size: 50px;
  margin: 0px 10px;
  color: white;

  &:hover {
    color: $bleuvert;
    transition: 0.4s;
  }
}

.font-size-12 {
  font-size: 12px;
}

.mail-to-style {
  color: white;

  &:hover {
    color: $bleuvert;
    transition: 0.4s;
  }
}

// barre titre - barres.scss

.left-c {
  left: 95px;
}

.width-c {
  width: 235px;
}


@media (max-width: 935px) {
  .width-c {
    width: 200px;
  }
}


@media (max-width: 650px) {
  .width-c {
    width: 151px;
  }

  .icone-style {
    font-size: 35px;
  }
}
