.left-e {
  left: 95px;
}

.width-e  {
  width: 215px;
}


@media (max-width: 935px) {
  .left-e {
    left: 85px;
  }

  .width-e  {
    width: 185px;
  }
}


@media (max-width: 650px) {
  .left-e {
    left: 72px;
  }

  .width-e  {
    width: 160px;
  }
}
