.img-project {
  width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;

  &:hover {
    background-color: white;
  }
}

.rect-bleu {
  background-color: $bleumarine;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-weight: lighter;
  margin: 20px 0px;
  text-align: end;
}

.absolute {
  position: absolute;
  width: 40%;
  right: 200px;
}
