.img-project {
  position: relative;

  img {
    width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
}

#projets {
  position: relative;
}

.filter {
  position: absolute;
  background: #3dcab048;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.7s;

  &:hover {
    opacity: 1;
  }
}

.rect-bleu {
  background-color: $bleumarine;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-weight: lighter;
  margin: 20px 0px;
  text-align: end;
}

.absolute {
  position: absolute;
  width: 60%;
  right: 0px;
}

.icone-size {
  font-size: 25px;
  margin-left: 15px;
  color: #3dcab0;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 800px) {

  .mobile-behevior-flex {
    display: block;
  }

  .mobile-none {
    display: none;
  }

  .img-project {
    img {
      width: 100%;
      height: 300px;
    }
  }

  .filter {
    position: absolute;
    background: #3dcab048;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    opacity: 1;
    transition: 0.7s;

    &:hover {
      opacity: 0;
    }
  }

}

// // Format mobile
// @media (max-width: 650px) {
//   .container-section {
//     width: 100%;
//     padding: 0px 40px;
//   }
// }

// // Format mobile
// @media (max-width: 450px) {
//   .container-section {
//     width: 100%;
//     padding: 0px 30px;
//   }
// }
