.img-project {
  position: relative;

  img {
    width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
  }
}

.none {
  display: none;
}

#projets {
  position: relative;
}

.filter {
  position: absolute;
  background: #3dcab06c;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  opacity: 1;
  transition: 0.7s;

  &:hover {
    opacity: 0;
  }
}

.rect-bleu {
  background-color: $bleumarine;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-weight: lighter;
  margin: 20px 0px;
  text-align: end;
}

.absolute {
  position: absolute;
  width: 60%;
  right: 0px;
}

.icone-size {
  font-size: 25px;
  margin-left: 15px;
  color: #3dcab0;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.mt-2-neg {
  margin-top: -1rem;
}



@media (max-width: 800px) {


  .none {
    display: flex;
    gap: 10px;
  }

  .size-100-pourcent {
    width: 100%;
    height: 100%;
  }

  .mobile-none {
    display: none;
  }

  .padding {
    padding: 30px;;
  }

  .img-project {
    img {
      width: 100%;
      height: 350px;
    }
  }

  .pastille{
    margin-left: 0px;
    margin-right: 10px;
  }

  .icone-size {
    margin-left: 0px;
    margin-right: 10px;
    opacity: 1;
    transition: 0.7s;

    &:hover {
      color: white;
    }
  }

  .filter {
    background: #071c42e1;
    opacity: 1;

    &:hover {
      opacity: 1;
    }

  }

}

// barre titre - barres.scss

.left-p {
  left: 95px;
}

.width-p  {
  width: 120px;
}


@media (max-width: 935px) {
  .left-p {
    left: 81px;
  }

  .width-p  {
    width: 106px;
  }
}


@media (max-width: 650px) {
  .left-p {
    left: 75px;
  }

  .width-p  {
    width: 85px;
  }
}
