.padding-bot-70 {
  padding-bottom: 70px;
}

.img-size {
  width: 20px;
}

.pastille.hover.display-flex.align-item-center.gap-3-t {
  margin-left: 0px;
  margin-right: 10px;
}

.gap-3-t {
  gap: 3px;
}

.padding-left-5px {
  padding-left: 3px;
}

.width-45-pourcent {
  width: 45%;
}

.padding-bot-30 {
  padding-bottom: 30px;
}


@media (max-width: 933px) {
  .display-flex.justify-space-between.display-block {
    display: block;
  }

  .padding-bot-70 {
    padding-bottom: 50px;
  }

  .width-45-pourcent {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .display-flex.flex-wrap-wrap.mt-4 {
    justify-content: center;
  }
  .text-align-mobile {
    text-align: center;
  }
}


// barre titre - barres.scss

.size-barre-22-245 {
  height: 22px;
  width: 245px;
}

.position-barre-titre-20-485 {
  top: 20px;
  left: 485px;
}

@media (max-width: 650px) {

  .position-barre-titre-20-5 {
    top: 15px;
    left: 75px;
  }

  .size-barre-22-12  {
    width: 158px;
    height: 15px;
  }
}
