.padding-bot-70 {
  padding-bottom: 70px;
}

.img-size {
  width: 20px;
}

.pastille.hover.display-flex.align-item-center.gap-3-t {
  margin-left: 0px;
  margin-right: 10px;
}

.gap-3-t {
  gap: 3px;
}

.padding-left-5px {
  padding-left: 3px;
}

.width-45-pourcent {
  width: 45%;
}

.padding-bot-30 {
  padding-bottom: 30px;
}



// Barre-titre - barres.scss

.width-s {
width: 210px;
}

.left-s {
  left: 130px;
}

@media (max-width: 935px) {
  .display-flex.justify-space-between.display-block {
    display: block;
  }

  .padding-bot-70 {
    padding-bottom: 50px;
  }

  .width-45-pourcent {
    width: 100%;
  }

  .text-align-mobile {
    text-align: center;
  }

  .display-flex.flex-wrap-wrap.mt-4 {
    justify-content: center;
  }

  .width-s {
    width: 200px;
    }

  .left-s {
    left: 85px;
  }
}


@media (max-width: 650px) {
  .width-s {
    width: 180px;
    }

  .left-s {
    left: 73px;
  }
}
