<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1><%= @sender_name %> vous a contacté sur votre site !</h1>
    <p>Telephone : <%= @sender_phone %></p>
    <p>Email : <%= @sender_email %></p>
    <p>Son message : <%= @content %></p>
  </body>
</html>
