.border-left {
  border-left: 1px solid;
}


.click-on {
  padding: 20px;
  background-color: $vertfade;
  width: 200px;
  border-left: 2px solid $bleuvert;
  h4 {
    color: $bleumarine;
    font-weight: 700;
  }
  &:hover {
    background-color: #b7f9ed;
    transition: 0.4s;
  }
}

.click-off {
  padding: 20px;
  width: 200px;

  h4 {
    color: $bleuvert;
    font-weight: 700;
  }
  &:hover {
    background-color: $vertfade;
    border-left: 2px solid $bleuvert;
    transition: 0.3s;
  }

  &:focus {
    padding: 20px;
    background-color: $vertfade;
    width: 200px;
    border-left: 2px solid $bleuvert;
    transition: 0.3s;
    h4 {
      color: $bleumarine;
      font-weight: 700;
    }
  }
}


.list {
  padding-left: 0px;
  // font-size: 18px;
  font-size: calc(13px + 0.3vw);
}

.dis-flex {
  display: flex;
  gap: 300px;
  align-items: center;
}

@media (max-width: 1300px) {
  .dis-flex {
    gap: 150px;
  }
}

@media (max-width: 935px) {
  .dis-flex {
    gap: 100px;
  }
}

@media (max-width: 800px) {
  .dis-flex {
    gap: 50px;
  }
}


// version mobile
@media (max-width: 650px) {
  .dis-flex-column {
    display: flex;
  }

  .scrolling-container-x {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .click-on {
    border-bottom: 2px solid $bleuvert;
    border-left: none;
    h4 {
      text-align: center;
    }
  }

  .click-off {
    h4 {
      text-align: center;
    }

    &:hover {
      border-bottom: 2px solid $bleuvert;
      border-left: none;
    }

    &:focus {
      border-bottom: 2px solid $bleuvert;
      border-left: none;
    }
  }

  .border-left {
    border-left: none;
  }

  .dis-flex {
    flex-direction: column;
  }
}
