.border-left {
  border-left: 1px solid;
}

.click-on {
  padding: 20px;
  background-color: $vertfade;
  width: 200px;
  border-left: 4px solid $bleuvert;
  h4 {
    color: $bleumarine;
    margin-bottom: 0px;
    font-weight: 700;
  }
  &:hover {
    background-color: #b7f9ed;
  }
}

.click-off {
  padding: 20px;
  h4 {
    color: $bleuvert;
    margin-bottom: 0px;
    font-weight: 700;
  }
  &:hover {
    background-color: $vertfade;
    border-left: 4px solid $bleuvert;
  }

  &:focus {
    padding: 20px;
    background-color: $vertfade;
    width: 200px;
    border-left: 4px solid $bleuvert;
    h4 {
      color: $bleumarine;
      margin-bottom: 0px;
      font-weight: 700;
    }
  }
}


.list {
  list-style-type: none;
  padding-left: 0px;
  font-size: 18px;
}

.dis-flex {
  display: flex;
  gap: 300px;
  align-items: center;
}

.color-blue-size {
  font-size: 1.5rem;
  color: $bleumarine;
}
