.border-left {
  border-left: 1px solid;
}





.click-on {
  padding: 20px;
  background-color: $vertfade;
  width: 200px;
  border-left: 4px solid $bleuvert;
  h4 {
    color: $bleumarine;
    font-weight: 700;
  }
  &:hover {
    background-color: #b7f9ed;
    transition: 0.4s;
  }
}

.click-off {
  padding: 20px;
  h4 {
    color: $bleuvert;
    font-weight: 700;
  }
  &:hover {
    background-color: $vertfade;
    border-left: 4px solid $bleuvert;
    transition: 0.3s;
  }

  &:focus {
    padding: 20px;
    background-color: $vertfade;
    width: 200px;
    border-left: 4px solid $bleuvert;
    transition: 0.3s;
    h4 {
      color: $bleumarine;
      font-weight: 700;
    }
  }
}


.list {
  padding-left: 0px;
  // font-size: 18px;
  font-size: calc(13px + 0.3vw);
}

.dis-flex {
  display: flex;
  gap: 300px;
  align-items: center;
}

@media (max-width: 1300px) {
  .dis-flex {
    gap: 150px;
  }
}

@media (max-width: 935px) {
  .dis-flex {
    gap: 100px;
  }
}

@media (max-width: 800px) {
  .dis-flex {
    gap: 50px;
  }
}


// version mobile
@media (max-width: 650px) {
  .dis-flex-column {
    display: flex;
    flex-wrap: wrap;
  }

  .border-left {
    border-bottom: 1px solid;
    border-left: none;
  }

  .dis-flex {
    flex-direction: column;
  }
}
